NET "X1" LOC = "G18";
NET "X2" LOC = "H18";
NET "X3" LOC = "K18";
NET "X4" LOC = "K17";

NET "A" LOC = "L18";
NET "B" LOC = "F18";
NET "C" LOC = "D17";
NET "D" LOC = "D16";
NET "E" LOC = "G14";
NET "F" LOC = "J17";
NET "G" LOC = "H14";
NET "N0" LOC = "F17";
NET "N1" LOC = "H17";
NET "N2" LOC = "C18";
NET "N3" LOC = "F15";